.main {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8),
  );
  color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-white),
  );
  transition: padding-left 200ms ease,
}
